<footer class="footer-section section--bg pt-120">
    <div class="footer-element" data-aos="fade-left" data-aos-duration="1200">
        <img src="assets/images/element/element-1.png" alt="element">
    </div>
    <div class="container">
        <div class="footer-top-area">
            <div class="row align-items-end mb-30-none">
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a class="site-logo site-title" href="index.html"><img src="assets/images/logo.png"
                                    alt="site-logo"></a>
                        </div>
                        <p>Whether you’re booking a shuttle service at the airport, 
                            hiring rentals for the weekend or wanting flight charters for a special occasion, 
                            Freeny Enterprises has the transportation 
                            solution for you.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="widget-title">Contact Us:</h4>
                        <ul class="footer-list">
                            <li><a href="tel:5714059196">571-405-9196</a></li>
                            <li><a href="tel:5714531850">571-453-1850</a></li>
                            <li><a href="mailto:Contact@freenyenterprisellc.com">Contact@freenyenterprisellc.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="widget-title">Located At:</h4>
                        <ul class="footer-list">
                            <li><a href="javascript:void(0)">604 Rhode Island Ave, NE</a></li>
                            <li><a href="javascript:void(0)">Washington DC 20002</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="row mb-30-none">
                <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">Services</h4>
                        <ul class="footer-list">
                            <li><a href="services.html">All Services</a></li>
                            <li><a href="shuttle.html">Shuttle Service</a></li>
                            <li><a href="charter.html">Private Jet Charters</a></li>
                            <li><a href="rentals.html">Vehicle Rentals</a></li>
                            <li><a href="travel.html">Travel Consultant</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">Contact Us</h4>
                        <ul class="footer-list">
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">About us</h4>
                        <ul class="footer-list">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>© 2022 Freeny Enterprises. All rights reserved.</p>
        </div>
    </div>
</footer>