<footer class="footer-section section--bg pt-120">
    <div class="footer-element" data-aos="fade-left" data-aos-duration="1200">
        <img src="assets/images/element/element-1.webp" alt="element">
    </div>
    <div class="container">
        <div class="footer-top-area">
            <div class="row align-items-end mb-30-none">
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a class="site-logo site-title" href="index.html"><img src="assets/images/logo.webp"
                                    alt="site-logo"></a>
                        </div>
                        <p>Discover peace of mind with our dependable fleet of well-maintained vehicles, ready to accompany you on every journey.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="widget-title">Contact Us:</h4>
                        <ul class="footer-list">
                            <li><a href="tel:5714059196">571-405-9196</a></li>
                            <li><a href="tel:5717333339">571-733-3339</a></li>
                            <li><a href="mailto:Contact@freenyenterprisellc.com">Contact@freenyenterprisellc.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="widget-title">Located At:</h4>
                        <ul class="footer-list">
                            <li><a href="javascript:void(0)">308 Hillwood Ave., Falls Church</a></li>
                            <li><a href="javascript:void(0)">VA 22046 Suite #350</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="row mb-30-none">
                <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">Cars</h4>
                        <ul class="footer-list">
                            <li><a href="cars.html">All Cars</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">Contact Us</h4>
                        <ul class="footer-list">
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">About us</h4>
                        <ul class="footer-list">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="rental-agreement.html">Rental Agreement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>© 2024 Freeny Enterprise LLC. All rights reserved.</p>
        </div>
    </div>
</footer>