<a href="#" class="scrollToTop">
  <i class="las la-dot-circle"></i>
  <span>Top</span>
</a>
<div class="call-widget-wrapper">
  <button type="button" class="call-widget-btn">
    <span class="num"><i class="icon-call-icon"></i>
        <a href="tel:5714059196">571-405-9196</a>
    </span>
    <span class="num"><i class="icon-call-icon"></i>
        <a href="tel:5714531850">571-453-1850</a>
    </span>
    <span class="arrow"></span>
  </button>
  <div class="call-widget-form-area">
      <form class="book-form">
          <div class="row justify-content-center mb-20-none">
              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 form-group">
                  <div class="book-select">
                      <label>Name</label>
                      <div class="book-quantity">
                        <div class="book-plus-minus">
                            <input class="book-plus-minus-box qty form-control" type="text" name="name" placeholder="Name"> 
                        </div>
                    </div>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 form-group">
                  <div class="book-select">
                      <label>Email</label>
                      <div class="book-quantity">
                        <div class="book-plus-minus">
                            <input class="book-plus-minus-box qty form-control" type="email" name="email" placeholder="Email"> 
                        </div>
                    </div>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 form-group">
                <label>Phone Number</label>
                <div class="book-quantity">
                    <div class="book-plus-minus">
                        <input class="book-plus-minus-box qty form-control" type="tel" name="phonenumber" placeholder="Phone Number"> 
                    </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 form-group">
                <div class="book-select">
                    <label>Service</label>
                    <select class="book-select form--control">
                        <option value="Shuttle Service" selected>Shuttle Service</option>
                        <option value="Jet Charter">Jet Charter</option>
                        <option value="Car Rental">Car Rental</option>
                        <option value="Travel Planning">Travel Planning</option>
                    </select>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
                  <label>Comments</label>
                  <div class="book-quantity">
                      <div class="book-plus-minus">
                          <input class="book-plus-minus-box qty form-control" type="text" name="comments" placeholder="Comments"> 
                      </div>
                  </div>
              </div>
              <div class="col-xl-12 form-group">
                  <button type="submit" class="btn--base w-100 mt-10"><i class="icon-btn-icon"></i> SEND</button>
              </div>
          </div>
      </form>
  </div>
</div>