<header class="header-section header-section-one">
    <div class="header">
        <div class="header-bottom-area">
            <div class="container-fluid">
                <div class="header-menu-content">
                    <nav class="navbar navbar-expand-lg p-0">
                        <a class="site-logo site-title" href="index.html"><img src="assets/images/logo.webp"
                                alt="site-logo"></a>
                        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fas fa-bars"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav main-menu ml-auto">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li class="menu_has_children"><a href="#0">Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="services.html">All Services</a></li>
                                        <li><a href="charter.html">Private Jet Charter</a></li>
                                        <li><a href="rentals.html">Vehicle Rentals</a></li>
                                        <li><a href="shuttle.html">Shuttle Service</a></li>
                                        <li><a href="travel.html">Travel Consultant</a></li>
                                    </ul>
                                </li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                            <div class="header-right">
                                <div class="header-action-area">
                                    <a href="contact.html" class="action-btn two"><i class="fa-solid fa-van-shuttle"></i></a>
                                    <div class="header-action">
                                        <a href="contact.html" class="btn--base"><i
                                                class="fa-solid fa-van-shuttle"></i> Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>